html {
    background:lightgray;
    font-family: Arial;
}

h1 {margin:0;}

.container {
    /*width: 350px;*/
    padding: 2em;
    background:white;
    border-radius: 8px;
    display:block;
    position: absolute;
    top:50%; left:50%;
    margin-top:-33px;
    margin-left:-33px;

}

.txtfld {
    width: calc(100% - 2em);
    padding:1em;
    margin-top: 1em;
}
.btn {
    width:100%;
    background:#00c3ff;
    color:white;
    margin-top:2em;
    border:none;
    border-radius:5px;
    padding:1em;
    font-size:1.2em;


}



.msg {
    padding: .5em;
    background: rgba(0,0,0,.8);
    color: #fff;
    opacity: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh

}

.container1{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    filter: url(#goo);
}

.particle {
    width: 100px;
    height: 100px;
    top: -20%;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    animation: fall 15s infinite;


}

    @keyframes fall {
        0%{top: -20%}
        20%{top: 0%}
        80%{top: 85%}
       100%{top: 100%}

    }
    .particle:nth-of-type(2n){
        width: 60px;
        height: 60px;
}
    .particle:nth-of-type(3n){
        width: 120px;
        height: 120px;
    }
    .particle:nth-of-type(1){
    left: 30%;
    animation-delay: 1s;
}
    .particle:nth-of-type(2) {
    left: 60%;
    animation-delay: 2s;
}
    .particle:nth-of-type(3) {
    left: 25%;
    animation-delay: 3s;
}
    .particle:nth-of-type(4) {
    left: 75%;
    animation-delay: 4s;
}
    .particle:nth-of-type(5){
    left: 35%;
    animation-delay: 1s;
}
    .particle:nth-of-type(6){
    left: 56%;
    animation-delay: 7s;
}
    .particle:nth-of-type(7){
    left: 56%;
    animation-delay: 7s;
}

    .border{
        position: absolute;
        background-color: black;
        width: 100%; height: 10%;
    }

    .border:nth-last-of-type(1){
        top: 0; left: 0;
    }

    .border:nth-last-of-type(1){
    bottom: 0; left: 0;
}

    *{margin: 0;
    padding: 0;}

    .text-animation{
        list-style:none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .text-animation li{
        display: inline-block;
        margin-right: 5px;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 5em;
        color: #0fb784;
        opacity: 1;
        transition: all 2.5s ease;
    }
    .text-animation li:last-child{
        margin-right: 0;

    }
    .text-animation.hidden{
        opacity: 0;
    }
.text-animation.hidden li:nth-child(1) {transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(2) {transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(3) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(4) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(5) {transform: translateX(-300px) translateY(200px);}
.text-animation.hidden li:nth-child(6) {transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(7) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(8) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(9) {transform: translateX(-300px) translateY(200px);}
